.fund-name {
  margin: auto;
  height: 50%;
  width: 65%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  color: white;
}
.fund-name:hover {
  cursor: pointer;
}
.fund-name::-webkit-scrollbar {
  display: none;
}
.name-h1 {
  text-align: left;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .name-h1 {
    font-size: x-large;
  }
  .fund-name {
    margin: auto;
    padding-top: 10px;
  }
}
