.fund-name {
  margin: auto;
  height: 50%;
  width: 65%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.fund-name:hover {
  cursor: pointer;
}
.fund-name::-webkit-scrollbar {
  display: none;
}
.name-h1 {
  text-align: left;
  text-decoration: none;
}
