#outer-div {
  height: 70vh;
  width: 50vw;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-radius: 25px;
  background: #413d3d;
  box-shadow: 15px 15px 30px #2f2d2d, -15px -15px 30px #534d4d;
}
#title {
  color: white;
}
#fund-title {
  margin-top: 15px;
  margin-bottom: 7px;
  color: white;
}
#amt-title {
  margin-top: 15px;
  margin-bottom: 7px;
  color: white;
}
#amt-input {
  height: 40px;
  width: 250px;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
  font-size: large;
  margin-bottom: 10px;
  border-radius: 25px;
  background: #413d3d;
  box-shadow: 15px 15px 30px #2f2d2d, -15px -15px 30px #534d4d;
  color: white;
}
#date-title {
  margin-bottom: 7px;
  color: white;
}
#date-input {
  height: 40px;
  width: 250px;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
  font-size: large;
  border-radius: 25px;
  background: #413d3d;
  box-shadow: 15px 15px 30px #2f2d2d, -15px -15px 30px #534d4d;
  color: white;
}
#submit {
  height: 40px;
  width: 70px;
  margin-top: 20px;
  border-radius: 25px;
  background: #413d3d;
  box-shadow: 15px 15px 30px #2f2d2d, -15px -15px 30px #534d4d;
  color: white;
  padding: 5px;
}
#selectFund {
  border-radius: 25px;
  /* background: #413d3d; */
  box-shadow: 15px 15px 30px #2f2d2d, -15px -15px 30px #534d4d;
  color: white;
}
#selectFund::first-line {
  color: white;
}
#btn-text {
  color: white;
}
