.fund-bar {
  display: flex;
  height: 15%;
  width: 95%;
  border-radius: 15px;
  margin: 1%;
  align-content: center;
  /* border-style: inset; */
  border-radius: 25px;
  background: #413d3d;
  box-shadow: 10px 10px 20px #2f2d2d, -10px -10px 20px #534d4d;
}
